/shell/master/profile
/shell/kisekae/profile
/shell/master2/profile
/shell/stand/profile
/shell/sutand2/profile
/ghost/master/profile
/ghost/master/satori_savedata.txt
/ghost/master/satori_savebackup.txt
/ghost/master/var
/shell/sutand2
/shell/master2
